body {

    max-width: 100%;
    max-height: 100%;
    background-image: url('../src/images/modern-kitchen-composition-with-healthy-ingredients.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: 100%;
    color: aliceblue;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    min-height: 100vh; 
}
.form-control {
 background: rgba(12, 11, 11, 0.4);
 color: #ffffff;
 -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
 box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
.fancy-box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.fancy-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Bottom border between items */
    transition: background-color 0.3s ease;
}

.fancy-list li:hover {
    cursor: pointer;
}

.fancy-arrow {
    color: #007bff; 
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.fancy-list li:hover .fancy-arrow {
    transform: translateX(5px); 
}

.fancy-list h2 {
    font-family: 'Georgia', serif; 
    font-style: italic; 
    color: #ffffff;
    font-size: 1.25rem;
    margin: 0;
}

.fancy-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Cursive', sans-serif;
    font-size: 1.2rem;
    padding: 10px;
    color: #ffffff;
}

.fancy-box1{
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(239, 234, 234, 0.35) 0px 5px 15px;   
     margin-top: 20px;
    width: 100%;
    text-align: right; 

}

.fancy-box h2 {
    font-family: 'ItalicFont', sans-serif; 
}

.button-group {
    margin: 0;
    top: 50%;
   
} 
